/*  --------------- Theme -----------------  */

/*

Background Color: #101010
Text Color: #fff
Dark Green: #4b594a
Light Green: #878c61
Orange: #f27127

Font: "Belanosima", sans-serif
Available Weights: 400 | Skinniest , 600 | Semi-L , 700 | Super-L

*/

/*  --------------- Box Sizing -----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*  --------------- Utility Classes -----------------  */

body {
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
  background-color: #101010;
  color: #fff;
}

.container {
  width: 80vw;
  margin: auto;
  margin-top: 2rem;
  height: 100svh;
}

.bg-img-carousel {
  width: 100%;
  height: 100vh;
  position: relative;
}

.content-page {
  width: 100%;
  height: 15vh;
  position: relative;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  animation: fade 20s ease-in-out alternate infinite;
}

.bg-img:nth-of-type(1) {
  animation-delay: -5s;
}

.bg-img:nth-of-type(2) {
  animation-delay: -10s;
}

.bg-img:nth-of-type(3) {
  animation-delay: -15s;
}

.bg-img:nth-of-type(4) {
  animation-delay: -20s;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.main-logo {
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
}

.main-nav {
  position: absolute;
  z-index: 10000;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.4);
}

.content-nav {
  background-color: rgb(75, 89, 74, 0.4);
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.main-nav ul li a {
  margin: 2rem;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 1rem;
  transition: 0.4s;
}

.main-nav ul li a:hover {
  cursor: pointer;
  background-color: rgb(242, 113, 39, 0.8);
}

.title-card {
  color: #fff;
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0, -5%);
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-align: center;
}

.discover {
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
  transform: translate(0, -5%);
  letter-spacing: 0.1rem;
}

.discover h2 {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.title-card h1 {
  transform: scaley(1.4);
  font-size: 5rem;
  margin-bottom: 2.4rem;
  font-weight: 600;
}

.title-card h2 {
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.arrow {
  border: solid #f27127;
  border-width: 0 0.7rem 0.7rem 0;
  display: inline-block;
  padding: 1.4rem;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  animation: bounce 2s ease-in-out infinite alternate;
  animation-delay: 2s;
}

main {
  margin: 2rem;
  max-width: 100%;
}

.nav-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.8rem;
  padding: 1rem;
  margin: 4rem auto;
  width: 80vw;
  text-transform: uppercase;
  gap: 3rem;
  color: #fff;
  position: relative;
}

.nav-cards h2 {
  font-weight: 400;
  padding: 1.8rem;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1000;
  letter-spacing: 0.1rem;
}

.nav-cards a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

.water-con-sect,
.lodge-sect,
.rent-sect,
.contact-sect {
  height: 40vh;
  border-bottom: 10px solid #878c61;
  border-top: 10px solid #878c61;
  transition: 0.4s;
  scale: 0.8;
  opacity: 0;
  animation: fadein linear forwards;
  animation-timeline: view();
  animation-range: 0px 400px;
}

.water-con-sect:hover,
.lodge-sect:hover,
.rent-sect:hover,
.contact-sect:hover {
  border-bottom: 10px solid #f27127;
  border-top: 10px solid #f27127;
}

.water-con-sect {
  background-image: url(../img/vert-canoe.jpg);
  background-size: cover;
  background-position: center;
}

.lodge-sect {
  background-image: url(../img/bear-ridge-1.jpg);
  background-size: cover;
  background-position: center;
}

.rent-sect {
  background-image: url(../img/vert-launch-point.jpg);
  background-size: cover;
  background-position: center;
}

.contact-sect {
  background-image: url(../img/vert-landscape.jpg);
  background-size: cover;
  background-position: center;
}

.contact-info h1 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.socials {
  margin-top: 3rem;
  text-align: center;
}

.socials h2 {
  margin-bottom: 0.5rem;
}

.socials a {
  color: #fff;
  font-size: 2rem;
  margin: 3rem 1rem;
  text-decoration: none;
  border-bottom: 5px solid #f27127;
}

/*  --------------- Griffin CSS -----------------  */

details > summary {
  list-style-type: none;
}

details {
  background-color: #f27127;
}

.container h2 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: .1rem;
  text-align: center;
}



/*  --------------- End of Griffin CSS -----------------  */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #4b594a;
  font-size: 1.4rem;
  padding: 1rem;
}

footer h6 {
  font-weight: 400;
}

footer a {
  color: #fff;
}

.contact-footer {
  position: absolute;
  bottom: 0;
  z-index: 10000;
}

.main-menu {
  display: none;
}



/*  --------------- Animations -----------------  */
@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(10px) rotate(45deg);
  }
}

@keyframes fadein {
  0% {
    scale: 0.8;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

/* Media query for mobile devices */
@media screen and (max-width: 1100px) {
  body {
    font-size: 1rem;
  }

  .main-nav ul li a {
    display: none;
  }

  .main-menu {
    display: initial;
    font-size: 1.8rem;
  }

  .main-menu summary {
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    transition: 0.4s;
    padding: 0.5rem;
  }

  details > summary {
    list-style: none;
  }

  details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
  details > summary::-webkit-details-marker /* Safari */ {
    display: none;
  }

  .main-menu summary:hover {
    background-color: #f27127;
    cursor: pointer;
  }

  .main-menu[open] > summary {
    border-bottom: 3px solid #f27127;
  }

  .main-menu ul {
    margin: 0;
    text-align: center;
    flex-direction: column;
  }

  .main-menu ul li {
    margin-bottom: 1rem;
  }

  .main-menu ul li a {
    display: initial;
    padding: 0.5rem;
    font-size: 1.4rem;
  }

  .main-logo {
    width: 8rem;
    height: 8rem;
    margin: 0;
  }

  .title-card {
    text-align: center;
  }

  .title-card h1 {
    font-size: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .title-card h2 {
    font-size: 2rem;
  }

  .discover h2 {
    font-size: 1.4rem;
  }

  .nav-cards {
    grid-template-columns: 1fr;
  }

  .nav-cards h2 {
    font-size: 2.2rem;
  }

  footer {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  .main-menu summary:hover {
    background-color: initial;
    cursor: pointer;
  }

  .title-card h1 {
    font-size: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .title-card h2 {
    font-size: 1.5rem;
  }

  .discover {
    height: 100svh;
  }

  .discover h2 {
    font-size: 1.2rem;
  }

  .nav-cards {
    margin: auto;
  }

  .nav-cards h2 {
    font-size: 1.8rem;
  }

  footer {
    font-size: 1rem;
  }
}
